footer.container {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-top: auto;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border-top: 3px solid rgba(255, 255, 255, 0.2);
    background: rgba(14, 13, 13, 0.3);
  }
  
  footer.container p {
    color: var(--text-white);
    font-size: 1.5rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: block;
    text-align: center;
    font-weight: 500;
  }
  
  @media (max-width: 768px) {
    footer.container {
      padding: 1rem;
    }
    
    footer.container small {
      font-size: 0.8rem;
    }
  }
  